*.exe
*.idb
*.kdevelop.pcs
*.kdevses
*.la
*.lo
*.a
*.o
*.obj
*.sln
*.vcproj
*~
.deps
.libs
core

autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
COPYING
debug
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
release
stamp-h1

Doxyfile
aclocal.m4
apidoc
aqbanking-config
aqbanking-config.in
aqbanking.iss
aqbanking.spec
aqbanking.tag
autom4te.cache
config.guess
config.h
config.h.in
config.sub
configure
depcomp
install-sh
libtool
listdoc.h
ltmain.sh
missing
mkinstalldirs
stamp-h1
version.h
aqbanking-*.tar.gz
i18nsources
py-compile
headers
qtsources
*.rpm
mksymlinks.sh
sl-headers
system.h
*.pc
*.rc
*.xml
*.conf

testlib
*.moc
*.moc.cpp
*.ui.cpp
*.ui.h
src/frontends/qbanking/bin/helpbrowser/qb-help5
src/frontends/qbanking/bin/wizard/qt3-wizard
src/frontends/qbanking/lib/checklib
src/plugins/backends/aqhbci/tools/aqhbci-tool/aqhbci-tool3
src/plugins/backends/aqhbci/tools/hbcixml/hbcixml3
src/plugins/backends/aqhbci/ui/qt3/qt3_debug/aqhbci-qt3-debug
src/plugins/bankinfo/generic/??/banks.data
src/plugins/bankinfo/generic/??/*.idx
src/plugins/bankinfo/generic/mkdeinfo
src/plugins/bankinfo/generic/data
src/test/abtest
tutorials/tutorial?
tutorials/qtfrontend
po/*.mo
po/*.qm
