*.a
*.conf
*.exe
*.idb
*.kdevelop.pcs
*.kdevses
*.la
*.lo
*.moc
*.moc.cpp
*.o
*.obj
*.patch
*.pc
*.pot
*.rc
*.rpm
*.sln
*.ui.cpp
*.ui.h
*.vcproj
*~
.deps
.libs
ChangeLog
Doxyfile
INSTALL
Makefile
Makefile.in
aclocal.m4
apidoc
aqbanking-*.tar.gz
aqbanking-config
aqbanking-config.in
aqbanking.iss
aqbanking.spec
aqbanking.tag
autom4te.cache
build*
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
core
debug
depcomp
headers
aqbanking5
i18nsources
index.lokalize
install-sh
libtool
listdoc.h
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
mkinstalldirs
mksymlinks.sh
po/*.mo
po/*.qm
po/package.pot
po/dialogs.pot
pdsources
py-compile
qtsources
release
sl-headers
src/frontends/qbanking/bin/helpbrowser/qb-help?
src/frontends/qbanking/bin/helpbrowser/qb-help??
src/frontends/qbanking/bin/wizard/qt3-wizard
src/frontends/qbanking/bin/wizard/qt3_wizard.xml
src/frontends/qbanking/lib/checklib
src/libs/aqbanking/ab_value_test
src/plugins/backends/aqhbci/plugin/accountjobs/accountjobs.xml
src/plugins/backends/aqhbci/plugin/applayer/xml/base.xml
src/plugins/backends/aqhbci/plugin/aqhbci.xml
src/plugins/backends/aqhbci/plugin/hbci.xml
src/plugins/backends/aqhbci/plugin/header.xml
src/plugins/backends/aqhbci/tools/aqhbci-tool/aqhbci-tool?
src/plugins/backends/aqhbci/tools/hbcixml/hbcixml3
src/plugins/backends/aqhbci/ui/qt3/qt3_debug/aqhbci-qt3-debug
src/plugins/backends/aqhbci/ui/qt3/qt3_debug/qt_debug.xml
src/plugins/backends/aqnone/aqnone.xml
src/plugins/backends/aqofxconnect/plugin/aqofxconnect.xml
src/plugins/backends/aqpaypal/plugin/aqpaypal.xml
src/plugins/backends/aqpaypal/tools/aqpaypal-tool/aqpaypal-tool
src/plugins/bankinfo/*/*.xml
src/plugins/bankinfo/generic/??/*.idx
src/plugins/bankinfo/generic/??/banks.data
src/plugins/bankinfo/generic/data
src/plugins/bankinfo/generic/mkdeinfo
src/plugins/imexporters/csv/csv.xml
src/plugins/imexporters/ctxfile/ctxfile.xml
src/plugins/imexporters/dtaus/dtaus.xml
src/plugins/imexporters/eri2/eri2.xml
src/plugins/imexporters/ofx/ofx.xml
src/plugins/imexporters/openhbci1/openhbci1.xml
src/plugins/imexporters/qif/qif.xml
src/plugins/imexporters/sepa/sepa.xml
src/plugins/imexporters/swift/swift.xml
src/plugins/imexporters/xmldb/xmldb.xml
src/plugins/imexporters/yellownet/yellownet.xml
src/plugins/imexporters/q43/q43.xml
src/plugins/parsers/dtaus/dtaus.xml
src/plugins/parsers/swift/swift.xml
src/test/abtest
src/test/test-dlg-setup
src/tools/aqbanking-cli/aqbanking-cli
stamp-h1
system.h
testlib
tutorials/qtfrontend
tutorials/tutorial?
version.h
dlgsources

