*~
*.lo
*.o
*.la
*.a
.deps
.libs
aqbanking6
ChangeLog
Doxyfile
INSTALL
Makefile
Makefile.in
aclocal.m4
apidoc
aqbanking-*.tar.gz
aqbanking-config
aqbanking-config.in
aqbanking.iss
aqbanking.spec
aqbanking.tag
aqbanking.pc
aqbanking.creator.user
aqbanking-config-version.cmake
aqbanking-config.cmake
autom4te.cache
build*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
core
depcomp
dlgsources
i18nsources
install-sh
ltmain.sh
listdoc.h
libtool
missing
mksymlinks.sh
pdsources
sl-headers
stamp-h1
system.h
test-driver
version.h
patches/
